<section class="nav">
    <div>
    {{#link-to 'parent'}}Parent{{/link-to}}
    {{#link-to 'parent.sub'}}Sub{{/link-to}}
    {{#link-to 'badparent'}}Bad Parent{{/link-to}}
    {{#link-to 'parent.badsub'}}Bad Sub{{/link-to}}

    <a target="_blank" href="http://github.com/benkolera/ember-substate-tests">View Code on github</a>
    </div>
</section>

<section>
    <div>
  <h1>Application</h1>
  <p>{{model}}</p>
  {{outlet}}
    </div>
</section>
